CompositeAppTest/src/jbiServiceUnits/YBandMB_BPEL/192.168.1.110_9999/ServiceLayer/BidWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bidws.potatoni.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bidws.potatoni.org/" name="BidWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://bidws.potatoni.org/" schemaLocation="http://192.168.1.110:9999/ServiceLayer/BidWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="bidABook">
<part name="parameters" element="tns:bidABook"/>
</message>
<message name="bidABookResponse">
<part name="parameters" element="tns:bidABookResponse"/>
</message>
<message name="InternalException">
<part name="fault" element="tns:InternalException"/>
</message>
<message name="UserNotExistingException">
<part name="fault" element="tns:UserNotExistingException"/>
</message>
<message name="getAllBids">
<part name="parameters" element="tns:getAllBids"/>
</message>
<message name="getAllBidsResponse">
<part name="parameters" element="tns:getAllBidsResponse"/>
</message>
<message name="PermissionDeniedException">
<part name="fault" element="tns:PermissionDeniedException"/>
</message>
<message name="UserNotLoggedInException">
<part name="fault" element="tns:UserNotLoggedInException"/>
</message>
<message name="updateBidPrice">
<part name="parameters" element="tns:updateBidPrice"/>
</message>
<message name="updateBidPriceResponse">
<part name="parameters" element="tns:updateBidPriceResponse"/>
</message>
<message name="getAllBidsOfAUser">
<part name="parameters" element="tns:getAllBidsOfAUser"/>
</message>
<message name="getAllBidsOfAUserResponse">
<part name="parameters" element="tns:getAllBidsOfAUserResponse"/>
</message>
<message name="getHighestBidPrice">
<part name="parameters" element="tns:getHighestBidPrice"/>
</message>
<message name="getHighestBidPriceResponse">
<part name="parameters" element="tns:getHighestBidPriceResponse"/>
</message>
<message name="getAllCustomers">
<part name="parameters" element="tns:getAllCustomers"/>
</message>
<message name="getAllCustomersResponse">
<part name="parameters" element="tns:getAllCustomersResponse"/>
</message>
<portType name="BidWebService">
<operation name="bidABook">
<input wsam:Action="http://bidws.potatoni.org/BidWebService/bidABookRequest" message="tns:bidABook"/>
<output wsam:Action="http://bidws.potatoni.org/BidWebService/bidABookResponse" message="tns:bidABookResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bidws.potatoni.org/BidWebService/bidABook/Fault/InternalException"/>
<fault message="tns:UserNotExistingException" name="UserNotExistingException" wsam:Action="http://bidws.potatoni.org/BidWebService/bidABook/Fault/UserNotExistingException"/>
</operation>
<operation name="getAllBids">
<input wsam:Action="http://bidws.potatoni.org/BidWebService/getAllBidsRequest" message="tns:getAllBids"/>
<output wsam:Action="http://bidws.potatoni.org/BidWebService/getAllBidsResponse" message="tns:getAllBidsResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bidws.potatoni.org/BidWebService/getAllBids/Fault/InternalException"/>
<fault message="tns:PermissionDeniedException" name="PermissionDeniedException" wsam:Action="http://bidws.potatoni.org/BidWebService/getAllBids/Fault/PermissionDeniedException"/>
<fault message="tns:UserNotLoggedInException" name="UserNotLoggedInException" wsam:Action="http://bidws.potatoni.org/BidWebService/getAllBids/Fault/UserNotLoggedInException"/>
</operation>
<operation name="updateBidPrice">
<input wsam:Action="http://bidws.potatoni.org/BidWebService/updateBidPriceRequest" message="tns:updateBidPrice"/>
<output wsam:Action="http://bidws.potatoni.org/BidWebService/updateBidPriceResponse" message="tns:updateBidPriceResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bidws.potatoni.org/BidWebService/updateBidPrice/Fault/InternalException"/>
<fault message="tns:PermissionDeniedException" name="PermissionDeniedException" wsam:Action="http://bidws.potatoni.org/BidWebService/updateBidPrice/Fault/PermissionDeniedException"/>
<fault message="tns:UserNotLoggedInException" name="UserNotLoggedInException" wsam:Action="http://bidws.potatoni.org/BidWebService/updateBidPrice/Fault/UserNotLoggedInException"/>
</operation>
<operation name="getAllBidsOfAUser">
<input wsam:Action="http://bidws.potatoni.org/BidWebService/getAllBidsOfAUserRequest" message="tns:getAllBidsOfAUser"/>
<output wsam:Action="http://bidws.potatoni.org/BidWebService/getAllBidsOfAUserResponse" message="tns:getAllBidsOfAUserResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bidws.potatoni.org/BidWebService/getAllBidsOfAUser/Fault/InternalException"/>
<fault message="tns:UserNotLoggedInException" name="UserNotLoggedInException" wsam:Action="http://bidws.potatoni.org/BidWebService/getAllBidsOfAUser/Fault/UserNotLoggedInException"/>
</operation>
<operation name="getHighestBidPrice">
<input wsam:Action="http://bidws.potatoni.org/BidWebService/getHighestBidPriceRequest" message="tns:getHighestBidPrice"/>
<output wsam:Action="http://bidws.potatoni.org/BidWebService/getHighestBidPriceResponse" message="tns:getHighestBidPriceResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bidws.potatoni.org/BidWebService/getHighestBidPrice/Fault/InternalException"/>
</operation>
<operation name="getAllCustomers">
<input wsam:Action="http://bidws.potatoni.org/BidWebService/getAllCustomersRequest" message="tns:getAllCustomers"/>
<output wsam:Action="http://bidws.potatoni.org/BidWebService/getAllCustomersResponse" message="tns:getAllCustomersResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bidws.potatoni.org/BidWebService/getAllCustomers/Fault/InternalException"/>
</operation>
</portType>
<binding name="BidWebServicePortBinding" type="tns:BidWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="bidABook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
<fault name="UserNotExistingException">
<soap:fault name="UserNotExistingException" use="literal"/>
</fault>
</operation>
<operation name="getAllBids">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
<fault name="PermissionDeniedException">
<soap:fault name="PermissionDeniedException" use="literal"/>
</fault>
<fault name="UserNotLoggedInException">
<soap:fault name="UserNotLoggedInException" use="literal"/>
</fault>
</operation>
<operation name="updateBidPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
<fault name="PermissionDeniedException">
<soap:fault name="PermissionDeniedException" use="literal"/>
</fault>
<fault name="UserNotLoggedInException">
<soap:fault name="UserNotLoggedInException" use="literal"/>
</fault>
</operation>
<operation name="getAllBidsOfAUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
<fault name="UserNotLoggedInException">
<soap:fault name="UserNotLoggedInException" use="literal"/>
</fault>
</operation>
<operation name="getHighestBidPrice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
<operation name="getAllCustomers">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BidWebService">
<port name="BidWebServicePort" binding="tns:BidWebServicePortBinding">
<soap:address location="http://192.168.1.110:9999/ServiceLayer/BidWebService"/>
</port>
</service>
</definitions>