CompositeAppTest/src/jbiServiceUnits/YBandMB_BPEL/192.168.1.110_9999/ServiceLayer/BookinfoWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bookinfows.potatoni.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bookinfows.potatoni.com/" name="BookinfoWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://bookinfows.potatoni.com/" schemaLocation="http://192.168.1.110:9999/ServiceLayer/BookinfoWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="addNewBookinfo">
<part name="parameters" element="tns:addNewBookinfo"/>
</message>
<message name="addNewBookinfoResponse">
<part name="parameters" element="tns:addNewBookinfoResponse"/>
</message>
<message name="ServerNetworkException">
<part name="fault" element="tns:ServerNetworkException"/>
</message>
<message name="InternalException">
<part name="fault" element="tns:InternalException"/>
</message>
<message name="isBookinfoExisting">
<part name="parameters" element="tns:isBookinfoExisting"/>
</message>
<message name="isBookinfoExistingResponse">
<part name="parameters" element="tns:isBookinfoExistingResponse"/>
</message>
<portType name="BookinfoWebService">
<operation name="addNewBookinfo">
<input wsam:Action="http://bookinfows.potatoni.com/BookinfoWebService/addNewBookinfoRequest" message="tns:addNewBookinfo"/>
<output wsam:Action="http://bookinfows.potatoni.com/BookinfoWebService/addNewBookinfoResponse" message="tns:addNewBookinfoResponse"/>
<fault message="tns:ServerNetworkException" name="ServerNetworkException" wsam:Action="http://bookinfows.potatoni.com/BookinfoWebService/addNewBookinfo/Fault/ServerNetworkException"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bookinfows.potatoni.com/BookinfoWebService/addNewBookinfo/Fault/InternalException"/>
</operation>
<operation name="isBookinfoExisting">
<input wsam:Action="http://bookinfows.potatoni.com/BookinfoWebService/isBookinfoExistingRequest" message="tns:isBookinfoExisting"/>
<output wsam:Action="http://bookinfows.potatoni.com/BookinfoWebService/isBookinfoExistingResponse" message="tns:isBookinfoExistingResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bookinfows.potatoni.com/BookinfoWebService/isBookinfoExisting/Fault/InternalException"/>
</operation>
</portType>
<binding name="BookinfoWebServicePortBinding" type="tns:BookinfoWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addNewBookinfo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServerNetworkException">
<soap:fault name="ServerNetworkException" use="literal"/>
</fault>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
<operation name="isBookinfoExisting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BookinfoWebService">
<port name="BookinfoWebServicePort" binding="tns:BookinfoWebServicePortBinding">
<soap:address location="http://192.168.1.110:9999/ServiceLayer/BookinfoWebService"/>
</port>
</service>
</definitions>