CompositeAppTest/src/jbiServiceUnits/YBandMB_BPEL/192.168.1.110_9999/ServiceLayer/BookinfoWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://bookinfows.potatoni.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://bookinfows.potatoni.com/">

<xs:element name="InternalException" type="tns:InternalException"/>

<xs:element name="ServerNetworkException" type="tns:ServerNetworkException"/>

<xs:element name="addNewBookinfo" type="tns:addNewBookinfo"/>

<xs:element name="addNewBookinfoResponse" type="tns:addNewBookinfoResponse"/>

<xs:element name="isBookinfoExisting" type="tns:isBookinfoExisting"/>

<xs:element name="isBookinfoExistingResponse" type="tns:isBookinfoExistingResponse"/>

<xs:complexType name="isBookinfoExisting">
<xs:sequence>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isBookinfoExistingResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="InternalException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewBookinfo">
<xs:sequence>
<xs:element name="isbn" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addNewBookinfoResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ServerNetworkException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>