CompositeAppTest/src/jbiServiceUnits/YBandMB_BPEL/192.168.1.110_9999/ServiceLayer/OrderWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://orderws.potatoni.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://orderws.potatoni.com/">

<xs:element name="InternalException" type="tns:InternalException"/>

<xs:element name="UserNotLoggedInException" type="tns:UserNotLoggedInException"/>

<xs:element name="genOrder" type="tns:genOrder"/>

<xs:element name="genOrderResponse" type="tns:genOrderResponse"/>

<xs:complexType name="genOrder">
<xs:sequence>
<xs:element name="bidId" type="xs:int" minOccurs="0"/>
<xs:element name="sessionId" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="genOrderResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="InternalException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserNotLoggedInException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>