CompositeAppTest/src/jbiServiceUnits/YBandMB_BPEL/192.168.1.110_9999/ServiceLayer/UserWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://userws.potatoni.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://userws.potatoni.com/" name="UserWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://userws.potatoni.com/" schemaLocation="http://192.168.1.110:9999/ServiceLayer/UserWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="registerUser">
<part name="parameters" element="tns:registerUser"/>
</message>
<message name="registerUserResponse">
<part name="parameters" element="tns:registerUserResponse"/>
</message>
<message name="InternalException">
<part name="fault" element="tns:InternalException"/>
</message>
<message name="isUserExisting">
<part name="parameters" element="tns:isUserExisting"/>
</message>
<message name="isUserExistingResponse">
<part name="parameters" element="tns:isUserExistingResponse"/>
</message>
<message name="isLoggedIn">
<part name="parameters" element="tns:isLoggedIn"/>
</message>
<message name="isLoggedInResponse">
<part name="parameters" element="tns:isLoggedInResponse"/>
</message>
<message name="logIn">
<part name="parameters" element="tns:logIn"/>
</message>
<message name="logInResponse">
<part name="parameters" element="tns:logInResponse"/>
</message>
<message name="PasswordIncorrectException">
<part name="fault" element="tns:PasswordIncorrectException"/>
</message>
<message name="UserNotExistingException">
<part name="fault" element="tns:UserNotExistingException"/>
</message>
<message name="getUsername">
<part name="parameters" element="tns:getUsername"/>
</message>
<message name="getUsernameResponse">
<part name="parameters" element="tns:getUsernameResponse"/>
</message>
<message name="getLogeedUser">
<part name="parameters" element="tns:getLogeedUser"/>
</message>
<message name="getLogeedUserResponse">
<part name="parameters" element="tns:getLogeedUserResponse"/>
</message>
<message name="UserNotLoggedInException">
<part name="fault" element="tns:UserNotLoggedInException"/>
</message>
<portType name="UserWebService">
<operation name="registerUser">
<input wsam:Action="http://userws.potatoni.com/UserWebService/registerUserRequest" message="tns:registerUser"/>
<output wsam:Action="http://userws.potatoni.com/UserWebService/registerUserResponse" message="tns:registerUserResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://userws.potatoni.com/UserWebService/registerUser/Fault/InternalException"/>
</operation>
<operation name="isUserExisting">
<input wsam:Action="http://userws.potatoni.com/UserWebService/isUserExistingRequest" message="tns:isUserExisting"/>
<output wsam:Action="http://userws.potatoni.com/UserWebService/isUserExistingResponse" message="tns:isUserExistingResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://userws.potatoni.com/UserWebService/isUserExisting/Fault/InternalException"/>
</operation>
<operation name="isLoggedIn">
<input wsam:Action="http://userws.potatoni.com/UserWebService/isLoggedInRequest" message="tns:isLoggedIn"/>
<output wsam:Action="http://userws.potatoni.com/UserWebService/isLoggedInResponse" message="tns:isLoggedInResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://userws.potatoni.com/UserWebService/isLoggedIn/Fault/InternalException"/>
</operation>
<operation name="logIn">
<input wsam:Action="http://userws.potatoni.com/UserWebService/logInRequest" message="tns:logIn"/>
<output wsam:Action="http://userws.potatoni.com/UserWebService/logInResponse" message="tns:logInResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://userws.potatoni.com/UserWebService/logIn/Fault/InternalException"/>
<fault message="tns:PasswordIncorrectException" name="PasswordIncorrectException" wsam:Action="http://userws.potatoni.com/UserWebService/logIn/Fault/PasswordIncorrectException"/>
<fault message="tns:UserNotExistingException" name="UserNotExistingException" wsam:Action="http://userws.potatoni.com/UserWebService/logIn/Fault/UserNotExistingException"/>
</operation>
<operation name="getUsername">
<input wsam:Action="http://userws.potatoni.com/UserWebService/getUsernameRequest" message="tns:getUsername"/>
<output wsam:Action="http://userws.potatoni.com/UserWebService/getUsernameResponse" message="tns:getUsernameResponse"/>
<fault message="tns:UserNotExistingException" name="UserNotExistingException" wsam:Action="http://userws.potatoni.com/UserWebService/getUsername/Fault/UserNotExistingException"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://userws.potatoni.com/UserWebService/getUsername/Fault/InternalException"/>
</operation>
<operation name="getLogeedUser">
<input wsam:Action="http://userws.potatoni.com/UserWebService/getLogeedUserRequest" message="tns:getLogeedUser"/>
<output wsam:Action="http://userws.potatoni.com/UserWebService/getLogeedUserResponse" message="tns:getLogeedUserResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://userws.potatoni.com/UserWebService/getLogeedUser/Fault/InternalException"/>
<fault message="tns:UserNotLoggedInException" name="UserNotLoggedInException" wsam:Action="http://userws.potatoni.com/UserWebService/getLogeedUser/Fault/UserNotLoggedInException"/>
</operation>
</portType>
<binding name="UserWebServicePortBinding" type="tns:UserWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registerUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
<operation name="isUserExisting">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
<operation name="isLoggedIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
<operation name="logIn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
<fault name="PasswordIncorrectException">
<soap:fault name="PasswordIncorrectException" use="literal"/>
</fault>
<fault name="UserNotExistingException">
<soap:fault name="UserNotExistingException" use="literal"/>
</fault>
</operation>
<operation name="getUsername">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="UserNotExistingException">
<soap:fault name="UserNotExistingException" use="literal"/>
</fault>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
<operation name="getLogeedUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
<fault name="UserNotLoggedInException">
<soap:fault name="UserNotLoggedInException" use="literal"/>
</fault>
</operation>
</binding>
<service name="UserWebService">
<port name="UserWebServicePort" binding="tns:UserWebServicePortBinding">
<soap:address location="http://192.168.1.110:9999/ServiceLayer/UserWebService"/>
</port>
</service>
</definitions>