YBandMB_BPEL/src/192.168.1.110_9999/ServiceLayer/BookWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bookws.potatoni.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://bookws.potatoni.com/" name="BookWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://bookws.potatoni.com/" schemaLocation="http://192.168.1.110:9999/ServiceLayer/BookWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="setBookSold">
<part name="parameters" element="tns:setBookSold"/>
</message>
<message name="setBookSoldResponse">
<part name="parameters" element="tns:setBookSoldResponse"/>
</message>
<message name="InternalException">
<part name="fault" element="tns:InternalException"/>
</message>
<message name="getBook">
<part name="parameters" element="tns:getBook"/>
</message>
<message name="getBookResponse">
<part name="parameters" element="tns:getBookResponse"/>
</message>
<message name="BookNotExistingException">
<part name="fault" element="tns:BookNotExistingException"/>
</message>
<message name="getAllBooks">
<part name="parameters" element="tns:getAllBooks"/>
</message>
<message name="getAllBooksResponse">
<part name="parameters" element="tns:getAllBooksResponse"/>
</message>
<message name="getOwnedBooks">
<part name="parameters" element="tns:getOwnedBooks"/>
</message>
<message name="getOwnedBooksResponse">
<part name="parameters" element="tns:getOwnedBooksResponse"/>
</message>
<message name="UserNotLoggedInException">
<part name="fault" element="tns:UserNotLoggedInException"/>
</message>
<message name="searchBookByIsbn">
<part name="parameters" element="tns:searchBookByIsbn"/>
</message>
<message name="searchBookByIsbnResponse">
<part name="parameters" element="tns:searchBookByIsbnResponse"/>
</message>
<message name="publishBookToSell">
<part name="parameters" element="tns:publishBookToSell"/>
</message>
<message name="publishBookToSellResponse">
<part name="parameters" element="tns:publishBookToSellResponse"/>
</message>
<message name="searchBookByName">
<part name="parameters" element="tns:searchBookByName"/>
</message>
<message name="searchBookByNameResponse">
<part name="parameters" element="tns:searchBookByNameResponse"/>
</message>
<portType name="BookWebService">
<operation name="setBookSold">
<input wsam:Action="http://bookws.potatoni.com/BookWebService/setBookSoldRequest" message="tns:setBookSold"/>
<output wsam:Action="http://bookws.potatoni.com/BookWebService/setBookSoldResponse" message="tns:setBookSoldResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bookws.potatoni.com/BookWebService/setBookSold/Fault/InternalException"/>
</operation>
<operation name="getBook">
<input wsam:Action="http://bookws.potatoni.com/BookWebService/getBookRequest" message="tns:getBook"/>
<output wsam:Action="http://bookws.potatoni.com/BookWebService/getBookResponse" message="tns:getBookResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bookws.potatoni.com/BookWebService/getBook/Fault/InternalException"/>
<fault message="tns:BookNotExistingException" name="BookNotExistingException" wsam:Action="http://bookws.potatoni.com/BookWebService/getBook/Fault/BookNotExistingException"/>
</operation>
<operation name="getAllBooks">
<input wsam:Action="http://bookws.potatoni.com/BookWebService/getAllBooksRequest" message="tns:getAllBooks"/>
<output wsam:Action="http://bookws.potatoni.com/BookWebService/getAllBooksResponse" message="tns:getAllBooksResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bookws.potatoni.com/BookWebService/getAllBooks/Fault/InternalException"/>
</operation>
<operation name="getOwnedBooks">
<input wsam:Action="http://bookws.potatoni.com/BookWebService/getOwnedBooksRequest" message="tns:getOwnedBooks"/>
<output wsam:Action="http://bookws.potatoni.com/BookWebService/getOwnedBooksResponse" message="tns:getOwnedBooksResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bookws.potatoni.com/BookWebService/getOwnedBooks/Fault/InternalException"/>
<fault message="tns:UserNotLoggedInException" name="UserNotLoggedInException" wsam:Action="http://bookws.potatoni.com/BookWebService/getOwnedBooks/Fault/UserNotLoggedInException"/>
</operation>
<operation name="searchBookByIsbn">
<input wsam:Action="http://bookws.potatoni.com/BookWebService/searchBookByIsbnRequest" message="tns:searchBookByIsbn"/>
<output wsam:Action="http://bookws.potatoni.com/BookWebService/searchBookByIsbnResponse" message="tns:searchBookByIsbnResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bookws.potatoni.com/BookWebService/searchBookByIsbn/Fault/InternalException"/>
</operation>
<operation name="publishBookToSell">
<input wsam:Action="http://bookws.potatoni.com/BookWebService/publishBookToSellRequest" message="tns:publishBookToSell"/>
<output wsam:Action="http://bookws.potatoni.com/BookWebService/publishBookToSellResponse" message="tns:publishBookToSellResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bookws.potatoni.com/BookWebService/publishBookToSell/Fault/InternalException"/>
</operation>
<operation name="searchBookByName">
<input wsam:Action="http://bookws.potatoni.com/BookWebService/searchBookByNameRequest" message="tns:searchBookByName"/>
<output wsam:Action="http://bookws.potatoni.com/BookWebService/searchBookByNameResponse" message="tns:searchBookByNameResponse"/>
<fault message="tns:InternalException" name="InternalException" wsam:Action="http://bookws.potatoni.com/BookWebService/searchBookByName/Fault/InternalException"/>
</operation>
</portType>
<binding name="BookWebServicePortBinding" type="tns:BookWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="setBookSold">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
<operation name="getBook">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
<fault name="BookNotExistingException">
<soap:fault name="BookNotExistingException" use="literal"/>
</fault>
</operation>
<operation name="getAllBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
<operation name="getOwnedBooks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
<fault name="UserNotLoggedInException">
<soap:fault name="UserNotLoggedInException" use="literal"/>
</fault>
</operation>
<operation name="searchBookByIsbn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
<operation name="publishBookToSell">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
<operation name="searchBookByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InternalException">
<soap:fault name="InternalException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BookWebService">
<port name="BookWebServicePort" binding="tns:BookWebServicePortBinding">
<soap:address location="http://192.168.1.110:9999/ServiceLayer/BookWebService"/>
</port>
</service>
</definitions>