CompositeAppTest/src/jbiServiceUnits/YBandMB_BPEL/192.168.1.110_9999/EmailSystem/EmailEntitySchema1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.potatoni.com/mailsystem/emailentity"
    xmlns:tns="http://www.potatoni.com/mailsystem/emailentity"
    elementFormDefault="qualified">
    <xsd:complexType name="EmailEntityComplexType">
        <xsd:sequence>
            <xsd:element name="mailto" type="xsd:string" />
            <xsd:element name="subject" type="xsd:string" />
            <xsd:element name="message" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
